/* Global Reset */
::root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: Helvetica;
    color: #E0E0E0;
}

body, html {
    min-height: 100vh;
}

a, a:hover, a:visited, a:active {
    text-decoration: underline;
}


body {
    background: fixed linear-gradient(135deg, 
                #101214, #272c31 27%, #7f00d3 27% 28%, #fc891e 28%, #faa436 65%,
                rgb(20, 138, 30) 65%, rgb(86, 206, 26) calc(65% + 1rem));
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.6rem;
}

a {
    color: #9FDF33;
    transition: color 0.1s ease-out;
}

a:hover, a:active {
    color: #faa436;
}

main {
    padding: 1rem 10%;
}

article {
    padding: 1rem 0;
}

code {
    font-family: "Consolas";
    background-color: #3A3A3A;
    padding: 0 0.1rem;
}

.article_content {
    padding: 1.5rem;
    background-color: #1F1F1F;
    box-shadow: 0.2rem 0.2rem 0.4rem #1F1F1F;
}

.project {
    padding: 0.5rem 0;
}

.project_title {
    padding-bottom: 1rem;
}

.project_text {
    padding-bottom: 0.5rem;
    line-height: 1.5;
}

.project_list {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    list-style-type: none;
}

.project_list li:not(:last-child) {
    padding-bottom: 0.3rem;
}

.project_list li::before {
    content: '-';
    display: block;
    float: left;
    position:relative;
    left: -0.5rem;
}

.project_images {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.project_images img {
    display: block;
    width: auto;
    height: auto;
    max-height: 25rem;
    flex: 0 1;
}

.grid_2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.grid_column_1 {
    grid-column: 1;
}

.grid_column_2 {
    grid-column: 2;
}

.code_block {
    padding-bottom: 1rem;
}

.code_block pre {
    padding: 0.7rem;
    background-color: #3A3A3A;
}

.code_block code {
    background-color: transparent;
}

.code_block span {
    font-family: "Consolas";
}

.code_block .highlight_type {
    color: #9FDF33;
}

.code_block .highlight_comment {
    color: #8F8F8F;
}

.code_block .highlight_keyword {
    color: lightskyblue;
}

.code_block .highlight_number {
    color: rgb(189, 119, 255);
}
