/* Global Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #E0E0E0;
    font-family: inherit;
    font-weight: inherit;
    min-width: inherit;
}

:root {
    font-weight: normal;
    font-family: Helvetica;
    /* 
     * min-width: auto; is the default flexbox sets which breaks how pre blocks size.
     * change to min-width: 0; which is the default and fixes the behaviour
    */
    min-width: 0;
}

body, html {
    min-height: 100vh;
}

a, a:hover, a:visited, a:active {
    text-decoration: underline;
}



body {
    background: fixed linear-gradient(135deg, 
                #101214, #272c31 27%, #7f00d3 27% 28%, #fc891e 28%, #faa436 65%,
                rgb(20, 138, 30) 65%, rgb(86, 206, 26) calc(65% + 1rem));
    display: flex;
    justify-content: center;
}

a {
    color: #9FDF33;
    transition: color 0.1s ease-out;
}

a:hover, a:active {
    color: #faa436;
}

main {
    flex: 1;
    padding: 1rem 5rem;
    max-width: 1600px;
}

@media(max-width: 60rem) {
    main {
        padding: 1rem 5%;
    }
}

article {
    padding: 1rem 0;
}

code {
    font-family: "Consolas";
    background-color: #3A3A3A;
    padding: 0 0.1rem;
}

.article_content {
    padding: 1.5rem;
    background-color: #1F1F1F;
    box-shadow: 0.2rem 0.2rem 0.4rem #1F1F1F;
}

.article_header {
    font-size: 2rem;
}

.project {
    padding: 1rem 0;
}

.project > *:last-child {
    padding-bottom: 0;
}

.project:last-child {
    padding-bottom: 0;
}

.project_header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.project_text {
    padding-bottom: 0.5rem;
    line-height: 1.5;
}

.project_list {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    list-style-type: none;
}

.project_list li {
    line-height: 1.5;
}

.project_list li::before {
    content: '-';
    display: block;
    float: left;
    position:relative;
    left: -0.5rem;
}

/* galleries of small images */

.project_images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 1rem;
}

.project_images img {
    /* display: block; */
    width: auto;
    height: auto;
    max-height: 25rem;
    /* forces images to downsize when the container is too small */
    max-width: 100%;
    object-fit: scale-down;
    flex: 0 1;
    padding: 0.5rem 0;
}

.project_images img:first-child {
    padding-top: 0;
}

.project_images img:last-child {
    padding-bottom: 0;
}

@media(min-width: 92.25rem) {
    .project_images {
        flex-direction: row;
    }

    .project_images img {
        padding: 0 0.5rem;
    }

    .project_images img:first-child {
        padding-left: 0;
    }
    
    .project_images img:last-child {
        padding-right: 0;
    }
}

/* galleries of large images because we want hack in spacing around them */

.large_project_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.large_project_images img {
    width: auto;
    height: auto;
    max-height: 30rem;
    /* forces images to downsize when the container is too small */
    max-width: 100%;
    object-fit: scale-down;
    flex: 0;
    padding: 0.5rem 0;
}

.large_project_images img:first-child {
    padding-top: 0;
}

.large_project_images img:last-child {
    padding-bottom: 0;
}

.code_blocks {
    width: 100%;
    font-family: "Consolas";
}

.code_block {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    padding: 0.5rem 0;
}

.code_block:first-child {
    padding-top: 0;
}

.code_block:last-child {
    padding-bottom: 0;
}

@media(min-width: 96.25rem) {
    .code_blocks.two_column {
        display: flex;
        flex-direction: row;
    }

    .code_blocks.two_column .code_block {
        flex: 1;
        padding: 0 0.5rem;
    }
    
    .code_block:first-child {
        padding-left: 0;
    }
    
    .code_block:last-child {
        padding-right: 0;
    }
}

.code_block pre {
    white-space: pre;
    width: 100%;
    max-width: 100%;
    max-height: 35.4rem;
    padding: 0.7rem;
    overflow: auto;
    background-color: #3A3A3A;
}

.code_block code {
    padding: 0;
    background-color: transparent;
}

.code_block .highlight_comment {
    color: #8F8F8F;
}

.code_block .highlight_macro {
    color: red;
}

.code_block .highlight_type,
.code_block .highlight_function,
.code_block .highlight_function_call {
    color: #9FDF33;
}

.code_block .highlight_builtin_type {
    color: rgb(85, 184, 255);
}

.code_block .highlight_keyword {
    /* color: rgb(85, 184, 255); */
    color: red;
}

.code_block .highlight_number {
    color: rgb(183, 107, 255);
}

.code_block .highlight_operator {
    color: red;
}

.code_block .highlight_parameter {
    color: orange;
}
